# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
TODO.txt
bin/Win32/Debug/DepthUI_d.exp
bin/Win32/Release/DepthUI.exp
bin/x64/Debug/DepthUI_d.exp
bin/x64/Release/DepthUI.exp
vs2013/Debug/DepthUI.exp
vs2013/DepthUI.opensdf
vs2013/DepthUI.sdf
vs2013/DepthUILib/Debug/DepthUILib.tlog/CL.read.1.tlog
vs2013/DepthUILib/Debug/DepthUILib.tlog/CL.write.1.tlog
vs2013/DepthUILib/Debug/DepthUILib.tlog/DepthUILib.lastbuildstate
vs2013/DepthUILib/Debug/DepthUILib.tlog/DepthUILib.write.1u.tlog
vs2013/DepthUILib/Debug/DepthUILib.tlog/cl.command.1.tlog
vs2013/DepthUILib/Debug/DepthUILib.tlog/link.command.1.tlog
vs2013/DepthUILib/Debug/DepthUILib.tlog/link.read.1.tlog
vs2013/DepthUILib/Debug/DepthUILib.tlog/link.write.1.tlog
vs2013/DepthUILib/Debug/vc120.idb
vs2013/DepthUILib/Release/DepthUILib.tlog/CL.read.1.tlog
vs2013/DepthUILib/Release/DepthUILib.tlog/CL.write.1.tlog
vs2013/DepthUILib/Release/DepthUILib.tlog/DepthUILib.lastbuildstate
vs2013/DepthUILib/Release/DepthUILib.tlog/DepthUILib.write.1u.tlog
vs2013/DepthUILib/Release/DepthUILib.tlog/cl.command.1.tlog
vs2013/DepthUILib/Release/DepthUILib.tlog/link.command.1.tlog
vs2013/DepthUILib/Release/DepthUILib.tlog/link.read.1.tlog
vs2013/DepthUILib/Release/DepthUILib.tlog/link.write.1.tlog
vs2013/DepthUILib/x64/Debug/DepthUILib.tlog/CL.read.1.tlog
vs2013/DepthUILib/x64/Debug/DepthUILib.tlog/CL.write.1.tlog
vs2013/DepthUILib/x64/Debug/DepthUILib.tlog/DepthUILib.lastbuildstate
vs2013/DepthUILib/x64/Debug/DepthUILib.tlog/DepthUILib.write.1u.tlog
vs2013/DepthUILib/x64/Debug/DepthUILib.tlog/cl.command.1.tlog
vs2013/DepthUILib/x64/Debug/DepthUILib.tlog/link.command.1.tlog
vs2013/DepthUILib/x64/Debug/DepthUILib.tlog/link.read.1.tlog
vs2013/DepthUILib/x64/Debug/DepthUILib.tlog/link.write.1.tlog
vs2013/DepthUILib/x64/Debug/vc120.idb
vs2013/DepthUILib/x64/Release/DepthUILib.tlog/CL.read.1.tlog
vs2013/DepthUILib/x64/Release/DepthUILib.tlog/CL.write.1.tlog
vs2013/DepthUILib/x64/Release/DepthUILib.tlog/DepthUILib.lastbuildstate
vs2013/DepthUILib/x64/Release/DepthUILib.tlog/DepthUILib.write.1u.tlog
vs2013/DepthUILib/x64/Release/DepthUILib.tlog/cl.command.1.tlog
vs2013/DepthUILib/x64/Release/DepthUILib.tlog/link.command.1.tlog
vs2013/DepthUILib/x64/Release/DepthUILib.tlog/link.read.1.tlog
vs2013/DepthUILib/x64/Release/DepthUILib.tlog/link.write.1.tlog
vs2013/Sample/Debug/Sample.tlog/CL.read.1.tlog
vs2013/Sample/Debug/Sample.tlog/CL.write.1.tlog
vs2013/Sample/Debug/Sample.tlog/Sample.lastbuildstate
vs2013/Sample/Debug/Sample.tlog/cl.command.1.tlog
vs2013/Sample/Debug/Sample.tlog/link.command.1.tlog
vs2013/Sample/Debug/Sample.tlog/link.read.1.tlog
vs2013/Sample/Debug/Sample.tlog/link.write.1.tlog
vs2013/Sample/Debug/vc120.idb
vs2013/Sample/Release/Sample.tlog/CL.read.1.tlog
vs2013/Sample/Release/Sample.tlog/CL.write.1.tlog
vs2013/Sample/Release/Sample.tlog/Sample.lastbuildstate
vs2013/Sample/Release/Sample.tlog/cl.command.1.tlog
vs2013/Sample/Release/Sample.tlog/link.command.1.tlog
vs2013/Sample/Release/Sample.tlog/link.read.1.tlog
vs2013/Sample/Release/Sample.tlog/link.write.1.tlog
vs2013/Sample/log.txt
vs2013/Sample/rgb.txt
vs2013/Sample/stencil.txt
vs2013/Sample/x64/Debug/Sample.tlog/CL.read.1.tlog
vs2013/Sample/x64/Debug/Sample.tlog/CL.write.1.tlog
vs2013/Sample/x64/Debug/Sample.tlog/Sample.lastbuildstate
vs2013/Sample/x64/Debug/Sample.tlog/cl.command.1.tlog
vs2013/Sample/x64/Debug/Sample.tlog/link.command.1.tlog
vs2013/Sample/x64/Debug/Sample.tlog/link.read.1.tlog
vs2013/Sample/x64/Debug/Sample.tlog/link.write.1.tlog
vs2013/Sample/x64/Debug/vc120.idb
vs2013/Sample/x64/Release/Sample.tlog/CL.read.1.tlog
vs2013/Sample/x64/Release/Sample.tlog/CL.write.1.tlog
vs2013/Sample/x64/Release/Sample.tlog/Sample.lastbuildstate
vs2013/Sample/x64/Release/Sample.tlog/cl.command.1.tlog
vs2013/Sample/x64/Release/Sample.tlog/link.command.1.tlog
vs2013/Sample/x64/Release/Sample.tlog/link.read.1.tlog
vs2013/Sample/x64/Release/Sample.tlog/link.write.1.tlog
vs2013/ipch/depthui-25f7fd8a/depthui-5d3c5c1f.ipch
